footer {
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 3% 5%;
    /* background: linear-gradient(145deg, #ffe88b, #931a93); */
    opacity: 0.9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3% 5%;
    color: rgb(255, 255, 255);
    height: 249px;
}

.outerContainer {
    display: flex;
}

.col {
    width: 20%;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 20px;
    border-right: 2px solid rgba(90, 90, 90, 0.662);
    height: 169px;
    h3{
        color: rgb(255, 255, 255);
    }
}

.col1 {
    width: 40%;
    padding: 20px;
    border-right: 2px solid rgba(90, 90, 90, 0.662);
    height: 169px;
}
    

#col4 {
    border-right: none;
}

.contactCont {
    display: flex;
    padding-bottom: 5px;
}

.logos {
    display: flex;
    justify-content:space-between;
    width: 120px;
}

.icon {
    padding: 2px;
}

#collections p {
    margin: 0px;
}

a {
    text-decoration: none;
}

#useFulLinks a {
    color: rgb(255, 255, 255);
}

.innerCont div{
    font-size: 15px;
    color: rgb(255, 255, 255);
}